@model XYJPersonalSite.Models.BusinessViewModels.BlogDetailDTO

@inject SignInManager<ApplicationUser> SignInManager

@{
    ViewData["Title"] = "Details";
}

<h3>@Model.Blog.Title</h3>

<div>
    <hr />
    <p>@Html.Raw(Model.Blog.Content)</p>
    <br/>
    <hr/>
    @foreach (var item in Model.Blog.Comments)
    {
        <label class="label label-default">@item.Nickname</label> 
        <p>@item.Content</p>
    }
    <div class="panel panel-primary">
        <div class="panel-heading">Comments (@Model.Blog.Comments.Count)</div>
        <div class="panel-body">
            <div>
                <form id="comment-form" action="/Comments/Create" method="POST">
                    <input name="BlogId" id="BlogId" type="hidden" value="@Model.Blog.Id" />
                    <input name="ToCommentId" id="ToCommentId" type="hidden" value="-1" />                        
                    <div class="form-group">
                        <div class="row">
                            <div class="col-md-4 ">
                                <input name="Nickname" class="form-control none-max-width" id="Nickname" type="text" placeholder="Name" value="" data-val-required="The Username field is required." data-val="true">
                            </div>
                            <div class="col-md-8">
                                <input name="Email" class="form-control none-max-width" id="Email" type="text" placeholder="Email" value="" data-val-required="The Email field is required." data-val="true" data-val-regex-pattern="[A-Za-z0-9._%+-]+@@[A-Za-z0-9.-]+\.[A-Za-z]{2,4}" data-val-regex="Invalid Email Format">
                            </div>
                        </div>
                    </div>
                    <div class="row">
                        <div class="form-group col-md-12">
                            <textarea name="Content" class="form-control none-max-width" id="Content" placeholder="Say whatever you want to " rows="4" data-val-required="The Content field is required." data-val="true"></textarea>
                        </div>
                    </div>

                    <div class="form-group">
                        <button id="comment_button" class="btn btn-primary" type="submit">Submit</button>
                    </div>
                </form>
            </div>
        </div>
    </div>
</div>
<div>
    @if (SignInManager.IsSignedIn(User))
    {
        <a asp-action="Edit" asp-route-id="@Model.Blog.Id">Edit</a>
        <a asp-action="Delete" asp-route-id="@Model.Blog.Id">Delete</a>
    }
    <a asp-action="Index">Back to List</a>
</div>
